<div class="glass bg-base-300 rounded-2xl mt-2 sticky top-0 p-4 mx-2 flex justify-center content-center gap-4">
    @if (gameinfo.value()?.image != null) {
        <img [src]="gameinfo.value()?.image" alt="" class="w-20 h-20 object-cover rounded-lg">
    }
    <div class="h-fill flex flex-col justify-around content-center glass px-3 rounded-2xl">
        <h2 class="text-3xl font-extrabold text-primary">{{ gameinfo.value()?.name }}</h2>
        <p> Dinero del grupo: <span class="font-extrabold text-accent">{{ gameinfo.value()?.partycurrency! | gamecurrency}}</span> </p>
        <div class="join self-center">
            <a [routerLink]="['inventory']" class="btn btn-accent btn-dash join-item" routerLinkActive="btn-active">Inventario</a>
            <a [routerLink]="['store']" class="btn btn-secondary btn-dash join-item" routerLinkActive="btn-active">Tienda</a>
        </div>
    </div>
</div>